.card {
  padding: 0;
  margin-bottom: 10px;
  margin-right: 5px;
}
.card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(34, 63, 32);
}